<!DOCTYPE html>
<html>
  <head>
    <title>Fullstack</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
    <%= favicon_link_tag asset_path('spotify_logo.png'), :rel => 'icon', :type =>  'image/png' %>
    <href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.blackLogoURL = "<%= image_url('spotify_logo.png') %>"
      window.whiteLogoURL = "<%= image_url('spotify_white_logo.png') %>"
      window.playButton = "<%= image_url('play_button.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
